<!DOCTYPE html>
<html lang="en" ng-app="EventApp">
<head>
  <title>SG Project 3</title>
  
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!--Angular-->
  <script src="angular/angular.min.js"></script>
  <script src="angular-ui-router/release/angular-ui-router.min.js"></script>
<!-- Firebase -->
  <script src="firebase/firebase.js" charset="utf-8"></script>
  <script src="angularfire/dist/angularfire.min.js" charset="utf-8"></script>
<!-- JS -->
  <script src="js/app.js"></script>
  <script src="js/factories/user.factory.js"></script>
  <script src="js/factories/auth.factory.js"></script>
  <script src="js/factories/events.factory.js"></script>
  <script src="js/controllers/user.controller.js"></script>
  <script src="js/controllers/auth.controller.js"></script>
  <script src="js/controllers/event.controller.js"></script>



  <meta charset="UTF-8">
</head>
<body ng-controller="AuthController as auth">
<nav>
  <ul class="navBar">
      <li ><a ng-if="!auth.user" ui-sref="home">Home</a></li>
      <li><a ui-sref="events({ firebaseUserId: auth.user.uid  })">Events</a></li>
      <li><a ui-sref="profile({ firebaseUserId: auth.user.uid })">Profile</a></li>
      <li><a ng-if="auth.user" ui-sref="home" ng-click="auth.signOut()">Sign Out</a></li>
    </ul>
  </nav>
      <section class="userWidget headerElement">
            <div ng-if="auth.user">
              <!-- <p><strong>
              	Welcome {{ auth.user.email }}!
              </strong></p> -->

            </div>

            <div ng-if="!auth.user">
            </div>
          </section>




  <section ng-controller="EventController as event" ui-view>
  </section>

  <footer>
    <!-- <p><strong>TODO:</strong> put reference to eventful.com website as described on their site</p> -->
  </footer>

</body>
</html>
