* {
  font-family: Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
}

nav {
    background-color: rgba(186, 179, 199, 0.4);
    padding-bottom: 5px
}

li {
  list-style: none;
  border: 1px black solid;

}

img {
  border: grey 2px solid;
  border-radius: 5px;
  margin: 15px;
  display: inline-block;
}


.form-control {
  width: 400px;
  display: inline-block;
}

#selectLocation {
  width: 200px;
}
.eventThumbnail {
  height: 150px;
}

.title {
  display: inline-block;
  position: absolute;
}
#login {
  background: url('../images/loginwinter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255, .2); /* fallback for old browsers */
  background-blend-mode: overlay;

}

#loginbox {
  border-radius: 5px;
  padding: 10px 30px;
  background-color: rgba(255,255,255, .7);
  color: white;
  text-shadow: 1px 1px black;
  width: 380px;
  box-shadow: 1px 1px 1px #b3b3b3;
  margin: 200px 500px;;
}

.loginform {
  border-radius: 5px;
  padding: 8px;
  margin: 10px 0px;
  width: 300px;
  color: black;
}

.btn-primary {
  box-shadow: none;
  border: none;
  padding: 5px 10px;
}

text {
  text-decoration: none;
  color: lightgray;
}

.signUp {
  margin-top: 7px;
  text-shadow: none;
}
