* {
  font-family: Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
}

.navBar {
  background-color: rgba(0, 0, 0, 0.46);
  padding: 10px;
}

.navBar li {
    display: inline-block;
    padding: 0px 30px;
}

.navBar li a {
  color: white;
  text-shadow: 1px 1px black;
  text-decoration: none;
}

.navBar li a:hover{
  color: #3232ff;
  text-shadow: none;
  text-decoration: none;
}

li {
  list-style: none;
}

.searchResult {
  border: 1px #cccccc solid;
  margin: 5px;
  /*padding-right: 0;*/
}


img {
  border-radius: 2px;
  margin: 15px;
  display: inline-block;
}

.form-control {
  width: 300px;
  display: inline-block;
}


.eventThumbnail {
  height: 150px;
}

.title {
  display: inline-block;
  position: absolute;
}

#login {
  background: url('../images/loginwinter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255, .2); /* fallback for old browsers */
  background-blend-mode: overlay;
}

.box {
  border-radius: 5px;
  padding: 10px 30px;
  background-color: rgba(255,255,255, .7);
  color: white;
  text-shadow: 1px 1px black;
  width: 380px;
  box-shadow: 1px 1px 1px #b3b3b3;
  margin: 200px 500px;;
}

.loginform {
  border-radius: 5px;
  padding: 8px;
  margin: 10px 0px;
  width: 300px;
  color: black;
}

.btn-primary {
  box-shadow: none;
  border: none;
  padding: 5px 10px;
}

text {
  text-decoration: none;
  color: lightgray;
}

.signUp {
  margin-top: 7px;
  margin-left: 100px;
  text-shadow: none;
}

#signup {
    background: url('../images/coachella.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255, .2); /* fallback for old browsers */
    background-blend-mode: overlay;
  }
}
