<!DOCTYPE html>

<!--EVENTS SEARCH BAR-->
<section ng-controller="UserController as user">
    <div class="row">
    <div class="jumbotron">
    <div class="col-md-6 col-md-offset-3">
      <h1>Find Your Event</h1>
      <input class="form-control" placeholder="Enter Location..." ng-model="event.searchLocation">


      <select class="form-control" id="selectLocation" placeholder="Enter Date" ng-model="event.searchDate">
     <option value="" disabled selected hidden>Please Choose...</option>
        <option value="All">All</option>
        <option value="Future">Future</option>
        <option value="Today">Today</option>
        <option value="This week">This week</option>
        <option value="Next week">Next week</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>

      <button class="btn btn-primary" ng-click="event.findEvents(); event.btnClicked(true) ">Search!</button>
     </div>
    </div>


<!--EVENTS SEARCH RESULTS-->
  <div class="col-md-8 col-md-offset-3">
    <div class="loader-container" ng-class="{showLoader: event.index}" ng-if="!event.eventResults.length > 0">
      <div class="loader"></div>
    </div>
    <h2 ng-if="event.eventResults.length > 0">Showing Results for <em> "{{ event.searchLocation }}" </em></h2>
      <li class="searchResult"  ng-show="e.image !== null" ng-repeat="e in event.eventResults track by $index">

              <img  ng-src="{{ e.image.block200.url }}">
                  <div class="col-md-6">
                    <strong>{{ u.start_time.substr(0, 16) }}</strong>
                    <h4><a class="resultBox" href="{{e.url}}">{{ e.title }}</a></h4>
                    <h5><br><a class="resultBox" href="{{e.venue_url}}">{{ e.venue_name }}</a></h5>
                    <button class="btn btn-primary" ng-click="user.saveEvent(e)">Save</button>
                    </div>
    </li>

    </div>
  </div>

  <!--EVENT HOME PAGE-->
  <div class="EventHomeList">
    <li ng-repeat="p in event.eventPictures" ng-if="e.eventResults.length < 1">
    </li>
  </div>


</section>
