<!DOCTYPE html>
<div id="signup">

<section class="signup" ng-if="!auth.user">
  <div class="box">
  <h2>Sign up</h2>
  <div>
    <input class="loginform" type="text" ng-model="auth.email" placeholder="E-mail Address">
  </div>

  <div>
    <input class="loginform" type="password" ng-model="auth.password" placeholder="Password">
  </div>

  <br>

  <button class="btn btn-success" ng-click="auth.createUser()">Submit</button>

  <p ng-if="auth.error" class="authError">
  {{ auth.error }}
  </p>
</div>
</section>

<section ng-if="auth.user">
  <h3>Don't be silly. You are already logged in...</h3>
</section>
</div>
